<h1>Listing blog posts</h1>

<% @posts.each do |post| %>
  <h2>
    <%= post.title %></h2>
  <p>
    <%= post.body %>
  </p>
  <table>
    <tr>
      <td><%= link_to 'Show', post %></td>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  </table>
  <% end %>

  <br />

  <%= link_to 'New Post', new_post_path %>
